# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
/node_modules
frontend/node_modules
server/node_modules

# Environment variables
.env
frontend/.env
server/.env

# Build files
frontend/dist/
